html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: sans-serif;
	background-color: antiquewhite;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
